/* General body and HTML styles to reset margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #f4f4f4;
    color: #5f3b3b;
    padding: 4px 10px;
    text-align: center;
    position: fixed;
    height: 200px;
    width: 100%;

}

/* Styling for the search input box */
#searchSessions {
    padding: 8px;
    margin-top: 15px;
    width: 80%;
    border: 1px solid #333;
    border-radius: 2px;
}

#thresholdInput {
    padding: 4px;
    margin-top: 8px;
    width: 20%;
    border: 1px solid #333;
    border-radius: 3px;
}

#timeInput {
    padding: 4px;
    margin-top: 0px;
    width: 30%;
    border: 1px solid #333;
    border-radius: 3px;
}

/* Main content area */
main {
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Section for buttons */
#selectButtons {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Button styling */
button {
    background-color: #5f3b3b; /* Green shade */
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #3c7c4a; /* Darker green shade */
}

/* List and list item styles for sessions */
#sessionsList ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.session {
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Color highlights for active/inactive sessions */

.session[style*="lightgreen"] {
    background-color: #74cf83; /* Light green background for active tabs */
    border-left: 5px solid #4ba05f; /* Green border for active tabs */
}

.session[style*="lightcoral"] {
    border-left: 5px solid #ac4a4a; /* Green border for active tabs */
}

/* Checkbox styling */
.tab-select {
    margin-right: 10px;
}

/* Session info display */
.session-info {
    display: flex;
    align-items: center;
    justify-content: space-between; /*new*/
}

.session-name {
    flex-grow: 1;
    cursor: pointer;
    font-weight: 500;
}

.tab-url {
    display: none;  /* Hide the URL by default */
}

.window-group {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.window-group h2 {
    color: #333;
    margin-top: 0;
}



